#Explanations{
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.829); 
    z-index: 4000;
}

.tomer-img {
    width: 40vw;
    height: auto;
    position: absolute;
}
.close-btn-bubble{
    margin-top: 1vh;
    z-index: 3000;
    width: 1.5vw;
    height: auto;
    position: absolute;
    left: 4vw;
    cursor: pointer;
}



.speech-bubble{
    position: relative;
    text-align: center;
    font-family: "Assistant";
    background: #ffffff;
    color: #000000;
    border: 5px solid #000000;
    border-radius: 40px;
    padding: 2rem 2rem;
    font-size: 2.5vmin;
    line-height: 1.4;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
    direction: rtl;
  }
  
  /* זנב בועת דיבור מימין */
  .speech-bubble::before {
    content: "";
    position: absolute;
    right: -55px;
    bottom: -26px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 80px;
    border-color: transparent transparent transparent #ffffff;
    transform: rotate(30deg);
    z-index: 1;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    right: -62px;
    bottom: -31px;  
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 80px; /* אותו גודל */
    transform: rotate(30deg);
    border-color: transparent transparent transparent #000000;
    z-index: 0;
}

/* קובץ CSS שלך (למשל Explanations.css) */
@keyframes fadeInExplanations {
    from {
      opacity: 0.4;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .fade-inExplanations {
    animation: fadeInExplanations 0.2s ease-in-out forwards;
  }
  

/*partOne ----------------------------------------------------------*/

.speech-bubble.PartOne {
    position: relative;
    margin-top: 25vh;
    max-width: 28vw;
    height: 25vh;
    right: -26vw;

  }
  
  .tomerPartOne{
    position: absolute;
    right:8vw;
    margin-top: 35vh;
  }
/*partTwo ----------------------------------------------------------*/

.speech-bubble.PartTwo {
    position: relative;
    margin-top: 25vh;
    max-width: 28vw;
    height: 25vh;
    right: -26vw;

  }
  
  .tomerPartTwo{
    position: absolute;
    right:8vw;
    margin-top: 35vh;
  }