.video-intro {
    height: 100%;
    width: 100%;
}

.video-section {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-out;
    opacity: 1;
    overflow: hidden;
}

.video-section.fade-out {
    opacity: 0;
    pointer-events: none;
}

.skip {
    position: absolute;
    top: 6%;
    left: 2%;
    background-color: transparent;
    font-family: 'Assistant', sans-serif;
    font-size: 3vmin;
    color: black;
    z-index: 9999999;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

/* ----------------------------------------------------------------- */

.intro-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/public/Assets/PartZeroImgs/BackgroundIntro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fade-in 0.7s ease-out forwards;
    opacity: 0;
}

.clouds {
    position: absolute;
    bottom: 6rem;
    left: 5vw;
    width: 88%;
    animation: moveClouds 5s ease-in-out infinite alternate;
}

@keyframes moveClouds {
    0% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(-10px);
    }
}

.hospital {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-48%);
    width: 95%;
    z-index: 2;
}

.ambulance {
    position: absolute;
    bottom: 0;
    width: 25%;
    z-index: 3;
    animation: driveAmbulance 2.5s ease-out forwards;
}

@keyframes driveAmbulance {
    0% {
        left: 100%;
    }

    100% {
        left: 3%;
    }
}

.text-area {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 4;
}

.lomda-title {
    font-size: 10vmin;
    color: #454545;
    margin-bottom: 2rem;
    font-family: 'Karantina', cursive;
}

.btn-start {
    font-size: 5vmin;
    font-family: 'Karantina', cursive;
    padding: 0.7vh 6vw;
    border-radius: 50vh;
    background-color: #cc6650;
    color: white;
    border: white 0.3vh solid;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-start:hover {
    transform: scale(1.05);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* -------------------------------------------------------------- */

.intro-section.exit .clouds,
.intro-section.exit .hospital,
.intro-section.exit .text-area {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.intro-section.exit .ambulance {
    animation: scaleAmbulance 1.2s ease-in forwards;
    transform-origin: bottom left; 
}

@keyframes scaleAmbulance {
    0% {
        left: 3%;
        transform: scale(1);
    }
    100% {
        left: 7.42%;
        transform: scale(4.45); 
    }
}