.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 240, 240, 0.801);
    border-radius: 0 0 60vw 60vw;
    padding: 10px 22px;
    width: fit-content;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    direction: rtl;
}

.timeline {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.background-line {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  height: 4px;
  background: #ddd;
  z-index: 0;
  transform: translateY(-50%);
  border-radius: 2px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.step.locked {
  opacity: 0.5;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  color: #888;
  transition: all 0.3s ease;
}

.circle.question {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  border-style: dashed;
}

.step.active .circle {
  background-color: #1976d2;
  border-color: #1976d2;
  color: white;
}

.step.current .circle {
  background-color: #004ba0;
  border-color: #004ba0;
  color: white;
  box-shadow: 0 0 10px #004ba0;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  color: #444;
  white-space: nowrap;
}

.label.empty {
  height: 18px; /* גובה שווה כדי לשמור על ריווח */
}


